html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #363636;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
table{
    padding: 15px;
    border-spacing: 3px;
    margin-top: 15px;
    margin-bottom: 20px;
}
td{
    width: 60px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}
td:hover{
    filter: brightness(1.6);
    color: black;
}
p, h1{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 25px;
}
p{
    font-size: 12px;
}
caption{
    font-size: 45px;
}
#spacing{
    height: 10px;
}
.espaçoTransicaoE{
    height: 25px;
}
.vazio{
    background-color: #363636;
    color: white;
    font-size: 25px;
    border: none;
    filter: none;
    transition: none;
    cursor: auto;
}
.vazio:hover{
    filter: none;
    color: white;
}
.AoCentro{
    text-align: center;
}
.nobres{
    background-color: seagreen;
}
.metais{
    background-color: blueviolet;
}
.metaisE{
    background-color: #8B008B;
}
.ametais{
    background-color: orangered;
}
.tipo{
    font-size: 15px;
}
.descricao{
    border: none;
    background-color: #363636;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}
.descricao:hover{
    filter: none;
    color: white;
}
.redondinho{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.alinhamento{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 15px;
    font-size: 25px;
    gap: 15px;
}
#Hidrogenio{
    background-color: white;
}
#metalTI{
    background-color:blueviolet;
}
#metalTE{
    background-color:#8B008B;
}
#Ametal{
    background-color:orangered;
}
#Nobres{
    background-color: seagreen;
}